<h1>About us </h1>
<p> Business is a part of life, but it isn't life.

Life is health. Health is wealth. Somehow, someway... we lost this focus.

Yes, you can make $1,000,000 a year, but if you cannot bend over to pick up your kid, if you can't lift up your wife while having sex, if you die at the age of 40 from a heart attack, is it worth it?

This website is not for everyone. Its audience is very targeted.

If you're a health freak who has the time to work out 4 hours a day and count calories, this isn't for you.

If you're a fat slob who just continues to give excuses, this isn't for you.

If you're looking for funny YouTube videos, selfies or ridiculously trendy information, this isn't for you.

However, if you fit any of the following, you may benefit from the content of this website:

a) Frequent flier (150,000 miles+ per year)

b) Work 60+ hours a week and have a family

c) Continue to ask "how can I optimize my health and maintain my current lifestyle?"

This website is an accumlation and database of organized knowledge which we, as authors, have used to optimize and improve our lives. You have a limited time on this earth, don't you want the most of it?

If you don't read any further, that's okay.

If you do, please provide feedback. If you have any direct questions, or topics you would like to see covered, please write to info@nomad-rx.com